/* The Modal (background) */
.divshowbtn{
	margin-top: 500px;
	text-align: center;
}
.header{
    position:fixed;
   	left:0px;
   	top:0px;
   	height:74px;
   	width:100%;
   	background:#032a39;
}
.iconsearch{
	font-size: 30px;
}
.headerTab{
	cursor: pointer;
	margin-top: 20px;
	height: 68%;
	margin-right: 15px;
	display: inline-block;
}
.headerActive{
	color:#6e895b;
	border-bottom: 4px solid #3C7E89;
}
.headerLeft{
	margin-top: 14px;
	margin-left:20px;
	display: inline-block;
}
.headerRight{
	display: inline-block;
	font-weight: bold;
	height: 100%;
	position: absolute;
	color:white;
	font-size: 20px;
	right: 40px;
}
.EQ{
	position: fixed;
	margin-top:10px;
	height: 160px;
	width: 100%;
	background-color: #F7F7F7;
}
.EQbtn1{
	width: 13%;
	background-color: #0095a9;
	color:white;
	display: inline-block;
  	font-size: 16px;
  	padding: 13px 25px 8px 25px;
 }
 .EQbtn2{
 	width: 13%;
	background-color: #d4d611;
	color:white;
	display: inline-block;
  	font-size: 16px;
  	padding: 8px 25px 8px 25px;
 }
 .EQSearch{
 	display:inline-block; 
 	width:60%; 
 	border:1px solid #D5D5D5; 
 	background-color:white;
 	padding-top: 5px;
 	padding-bottom: 2px;
 }
textarea:focus, input:focus{
    outline: none;
}
 .input{
 	display: inline-block;
 	width: 67%;
 	font-size: 20px;
 	height: 40px;
 	border: 0px;
 	margin-left: 5px;
 	border-right: 1px solid #ddd;
 }
  .input2{
 	display: inline-block;
 	width: 18%;
 	font-size: 20px;
 	height: 40px;
 	border: 0px;
 	margin-left: 10px;
 }

.showbtn{
  	font-size: 20px;
  	padding: 10px 45px 10px 45px;
}
.testscroll{
	margin-top: 1000px;
}
.footer{	
    position:fixed;
   	left:0px;
   	bottom:0px;
   	height:74px;
   	width:100%;
   	background:#032a39;
}
.footerLeft{
	position: fixed;
	margin-top:25px;
	margin-left: 30px;
	color:white;
	font-size: 14px;
}
.footerRight{
	position: fixed;
	right:25px;
	margin-top:-32px;
}
.footerCenter{
	margin-top: 23px;
	text-align: center;
}





@media screen and (max-width: 2560px) {
body { font-family: 'THNiramitAS', sans-serif; background-color: blue; overflow: auto;} 
table{
     border-collapse: collapse; 
}
tr.border_bottom td {
  border-bottom:1pt solid #D7DADA;
}
tr.border_bottom2 td {

  border-bottom:1pt solid #D7DADA;
}
td.page1{
    width:60%;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}
td.page1M{
    width:40%;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}
td.pageM{
    width: 50%;
    padding-left: 15px;
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 5px;
}
td.page2{
    width: 25%;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
}
.center{
    padding-left: 15px;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
}
.wrapper {
    position: relative;
    width: 100%;
    text-align: center;
}

.button {
    position:relative;
    bottom:0;
}


.head {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
}
.information{
    width: 80%;
    margin: auto;
    margin-top: 15px;
}
.selecthead {

    margin: auto;
    margin-top: 20px;
    padding: 0;
    width: 80%;
    background-color: #FFFFFF;
}

.select{
    border:1px solid #0096a9;
    width: 49%;
    text-align: center;
    float: left;
}
.select a {
    cursor: pointer;
    display: block;
    color: #0096a9;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
}

.select a:hover:not(.active) {
    color:#FFFFFF;
    background-color: #0096a9;
}

.tab a {
    display: block;
    color: #000;
    font-size: 25px;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}

.tab a:hover:not(.active) {
    background-color: #FFFFFF;
}
.tab{
    cursor: pointer;
    width: 50%;
    display: inline-block;
}
.active {
    background-color: #EAEAEA;
}
.active2 a{
    color:#FFFFFF!important;
}
.active2{
    background-color: #0096a9;
}
.parent{
  font-size: 0;
    /* parent value */
}

.parent > div{
  display: inline-block;
  width: 50%;
  font-size: 21px;
   /* some value */
}
.city{
  min-height: 90%;
  /* equal to footer height */
  margin-bottom: -70px; 
}
.city2{
  min-height: 90%;
  /* equal to footer height */
  margin-bottom: -80px; 
}

#information2{display:none;}
.modal {
    margin: 0;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #FFFFFF;
    margin: auto;
    margin-top: -40px;
    border: 1px solid #888;
    width: 65%;
    height: 85%;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




.btn {
  background: #0096a9;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 45px 10px 45px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

}